/*!
 * Start Bootstrap - Resume v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */
body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
     } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
/*text-transform: uppercase;
  color: #343a40;*/ }

h1 {
  line-height: 4.5rem;}

@media (min-width: 992px) {
  h1 {
    line-height: 5.5rem; }}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem; }

.list-social-icons a {
  color: #495057; }
  .list-social-icons a:hover {
    color: #BD5D38; }
  .list-social-icons a .fa-lg {
    font-size: 1.75rem; }

.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: #BD5D38; }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase; }

#sideNav .navbar-collapse {
  overflow-y: auto;
  max-height: 80vh;}

@media (min-width: 992px) {
  #sideNav {
    transform: skew(-5deg, 0deg);
    border-right: 2px solid #E20613;
    text-align: center;
    position: fixed;
    top: 0;
    left: -45px;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }
  section.resume-section .resume-item .resume-date {
    min-width: none; }

.resume-section-internal {
  min-height: 30vh !important; }

@media (min-width: 768px) {
  .resume-section {
    min-height: 100vh; }
  .resume-section-internal {
    min-height: 70vh !important; }
    .resume-section .resume-item .resume-date {
      min-width: 10rem; } }

@media (min-width: 992px) {
  .resume-section-internal {
    min-height: 83vh !important; }
  .resume-section {
    padding-left: 18rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

.bg-primary {
  background-color: #222 !important; }

.bg-certificazioni {
  background-color: #111 !important; }

.text-primary {
  color: #E20613 !important; }

.bg {
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;}

.bg-top {
  background-image: url(../img/bg-top.jpg);}

.bg-antincendio {
  background-image: url(../img/bg-antincendio.jpg);}

.bg-formazione {
  background-image: url(../img/bg-formazione.jpg);}

.bg-assistenza {
  background-image: url(../img/bg-assistenza.jpg);}

.bg-protezione {
  background-image: url(../img/bg-protezione.jpg);}

.bg-segnaletica {
  background-image: url(../img/bg-segnaletica.jpg);}

.bg-impianti {
  background-image: url(../img/bg-impianti.jpg);}

.bg-404 {
  background-image: url(../img/404.jpg);}

.team-member {
  margin-bottom: 50px;
  text-align: center; }
  .team-member img {
    width: 150px;
    height: 150px;
    border: 4px solid #888; }
  .team-member h5 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem; }
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1; }
    .portfolio-item .caption .caption-content {
      color: #fff;
      margin-top: 1rem;
      margin-left: 1rem; }
      .portfolio-item .caption .caption-content h2 {
        font-size: 1.2rem;
        text-transform: uppercase; }
      .portfolio-item .caption .caption-content p {
        opacity: 0;
        font-weight: 400;
        font-size: 1.2rem; }
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0; }
        .portfolio-item .caption .caption-content {
          transition: opacity 0.25s; }
  }

  .portfolio-item:hover .caption .caption-content p, .portfolio-item-hover .caption .caption-content p {
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    opacity: 1;}

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 15px;
    line-height: 27px;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529; }
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      background-color: red; }

footer {
  padding-left: .5rem;
  font-size: 0.8rem;
  background: #555;
  color: white;}

  footer a {
    color: lightsalmon !important;}

  footer a:hover, footer a:focus, footer a:active {
    color: salmon !important;}

@media (min-width: 992px) {
  footer{
    padding-left: 17.5rem;}}

.heading-logotipo {
    max-width: 300px;}
@media screen and (max-width: 991px) {
  .heading-logotipo {
    max-width: 200px;}
  .bg {
    background-attachment: scroll;}
  .bg-top {
    background-position: 70%; }}

.btn-scrolldown {
  width: 5rem;
  height: 5rem;}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}

.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;}

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E20613;
  opacity: 0.9;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;}

.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;}

.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .img-logo {
    width: 200px;}}

.not-allowed {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;}
